body {background-color: rgb(247, 246, 250);}


h1 {
    text-align: center; 
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(246, 245, 255); 
    font-weight: 800;
    font-size: 1.5rem;
    padding-top: 0.6rem;
    width: 100%;
}

.box {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(128, 151, 255);
    height: inherit;
    width: 100%;
}



a  { 
    color: #1a0b55; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-right: 0.6rem; 
    
}


.navbar
{
    background-color: rgb(255, 255, 255);   
    min-height: 45px; 
    
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

}



/* .navbar ul {} */


/* Navbar ends */


h3 {
    padding-bottom: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:600 ;
    
}







/* CONTACT */

.form-container {
    background-color: rgb(255, 255, 255);
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 2rem;
    padding-bottom: 3rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(241, 239, 255);

}





/* about me */
.aboutme {
background-color: rgb(255, 255, 255);
margin-top: 4%;
margin-left: 4%;
margin-right: 4%;
padding: 2rem;
padding-bottom: 3rem;
border: 1px solid rgb(241, 239, 255);
border-radius: 0.5rem;
}



/* Portfolio */

.portfolio-box {
    border: 0px;
}


.portfolio {
background-color: rgb(255, 255, 255);
margin-top: 4%;
margin-left: 4%;
margin-right: 4%;
padding: 2rem;
padding-bottom: 3rem;
border: 1px solid rgb(241, 239, 255);
border-radius: 0.5rem;

} 

.overlay {
position: inherit;
bottom: 65px;
background-color: rgb(128, 151, 255);
color: rgb(246, 245, 255);
padding-bottom: 0.5rem;
padding-top: 0.5rem;
width: 100%;
text-align: center;
}




.footer {
width: 100%;
text-align: center;
margin-top: 1rem;
background-color: rgb(255, 255, 255);
color: rgb(227, 224, 255);
}